@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Playball&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #EE4855;
  z-index: 5000;
  pointer-events: none;
}

.preloader svg text {
  stroke: #f2f3f7;
  stroke-width: 5;
  font-size: 3.5em;
  font-weight: bold;
  -webkit-animation: animate 5s alternate infinite;
          animation: animate 5s alternate infinite;
}

@-webkit-keyframes animate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: -20%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}

@keyframes animate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: -20%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}

.disappear {
  -webkit-animation: vanish 1s ease-out forwards;
          animation: vanish 1s ease-out forwards;
}

@-webkit-keyframes vanish {
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    display: none;
  }
}

@keyframes vanish {
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    display: none;
  }
}

@media screen and (min-width: 769px) {
  header {
    width: 85%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  header .covid {
    text-decoration: none;
    color: #243941;
    font-weight: bold;
    font-family: 'Italianno', cursive;
    font-size: 1.3em;
  }
  header .covid span {
    color: #fd5e53;
  }
  header .menuList {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    list-style-type: none;
  }
  header .menuList li a {
    text-decoration: none;
    color: #243941;
    font-weight: bold;
  }
  header .menuList li a:hover {
    color: #fd5e53;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    text-underline-position: under;
    -webkit-text-decoration-style: wavy;
            text-decoration-style: wavy;
    -webkit-text-decoration-color: #fd5e53;
            text-decoration-color: #fd5e53;
    text-decoration-skip-ink: none;
  }
  header .menuList li .pinkContact {
    color: #fd5e53;
    border: #fd5e53 solid 2px;
    padding: 5px 20px;
    border-radius: 20px;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
  }
  header .menuList li .pinkContact:hover {
    color: #ffffff;
    background-color: #fd5e53;
    cursor: pointer;
  }
  header .menuList li .pinkContact i {
    margin-left: 5px;
    -Webkit-text-fill-color: transparent;
    -Webkit-text-stroke-width: 1px;
  }
  header .menu-btn {
    display: none;
  }
  .sideMenu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .covid {
    text-decoration: none;
    color: #243941;
    font-weight: bold;
    margin-left: 30px;
    font-family: 'Italianno', cursive;
    font-size: 1.3em;
  }
  header .covid span {
    color: #fd5e53;
  }
  header .menuList {
    display: none;
  }
  header .menu-btn {
    margin-left: auto;
    margin-right: 30px;
  }
  header .menu-btn div {
    width: 30px;
    height: 3px;
    background-color: #243941;
    margin-bottom: 5px;
  }
  header .menu-btn div:nth-child(2) {
    width: 20px;
  }
  .sideMenu {
    width: 0%;
    height: 0%;
    background-color: #EE4855;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 0px 320px 0px 0px;
    visibility: hidden;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 1500;
  }
  .sideMenu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 90%;
  }
  .sideMenu .menu li {
    list-style-type: none;
  }
  .sideMenu .menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
  }
  .sideMenu .menu li .contact-for-mobile {
    border: #ffffff solid 2px;
    padding: 10px 20px;
    border-radius: 30px;
  }
  .sideMenu .menu li .contact-for-mobile i {
    margin-left: 5px;
    -Webkit-text-fill-color: transparent;
    -Webkit-text-stroke-width: 1px;
  }
  .toggle {
    visibility: visible;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 765px) and (max-width: 768px) {
  .sideMenu {
    display: none;
  }
  header .menuList {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    list-style-type: none;
  }
  header .menuList li a {
    text-decoration: none;
    color: #243941;
    font-weight: bold;
  }
  header .menuList li a:hover {
    color: #fd5e53;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    text-underline-position: under;
    -webkit-text-decoration-style: wavy;
            text-decoration-style: wavy;
    -webkit-text-decoration-color: #fd5e53;
            text-decoration-color: #fd5e53;
    text-decoration-skip-ink: none;
  }
  header .menu-btn, header .menuList .pinkContact {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .sideMenu {
    border-radius: 0px 230px 0px 0px;
  }
}

@media (min-width: 1000px) and (max-width: 1024px) {
  header .menuList .pinkContact {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  main {
    margin: 100px auto;
    width: 85%;
  }
  main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .content .image-phone {
    display: none;
  }
  main .content #about {
    width: 50%;
  }
  main .content #about .alert {
    display: inline-block;
    color: #fd5e53;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #fcdef0;
    margin-bottom: 40px;
  }
  main .content #about .alert span {
    border: 2px solid #fd5e53;
    padding: 1px 8px;
    border-radius: 50%;
  }
  main .content #about h1 {
    color: #243941;
    font-size: 3em;
  }
  main .content #about h1 + h1 {
    color: #fd5e53;
  }
  main .content #about p {
    margin-top: 30px;
    margin-bottom: 70px;
    line-height: 30px;
    color: #243941;
  }
  main .content #about h3 a {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #fd5e53;
    padding: 15px 40px;
    border-radius: 30px;
    background-color: #fd5e53;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #ffffff;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
  main .content #about h3 a:hover {
    background-color: #ffffff;
    color: #fd5e53;
    padding: 15px 50px;
    cursor: pointer;
  }
  main .content .about-image img {
    width: 500px;
    height: 500px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .call-btn {
    display: none;
  }
  section {
    width: 90%;
    margin: 120px auto;
  }
  section #covid-updates {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 30px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
  }
  section #covid-updates .update {
    color: #243941;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
  }
  section #covid-updates .update span {
    color: limegreen;
  }
  section #covid-updates .search-wrapper {
    margin: 60px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 350px;
    height: 40px;
  }
  section #covid-updates .search-wrapper .search-box {
    width: 260px;
    height: 40px;
    background-color: #f2f3f7;
    margin: 60px auto;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section #covid-updates .search-wrapper .search-box .search {
    border: none;
    background: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    text-align: center;
    color: #243941;
  }
  section #covid-updates .search-wrapper .btn {
    background-color: #fd5e53;
    padding: 10px 10px;
    border-radius: 50%;
    margin-left: 10px;
  }
  section #covid-updates .search-wrapper .btn i {
    color: #ffffff;
  }
  section #covid-updates .search-wrapper .btn i:hover {
    cursor: pointer;
    opacity: .7;
  }
  section #covid-updates .map-image {
    width: 600px;
    height: 250px;
    margin: 30px auto;
    display: block;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  section #covid-updates .covid-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 40px;
  }
  section #covid-updates .covid-data p {
    text-align: center;
    font-weight: bold;
  }
  section #covid-updates .covid-data .existing .existing-number, section #covid-updates .covid-data .confirmed .confirmed-number, section #covid-updates .covid-data .recovered .recovered-number, section #covid-updates .covid-data .deaths .death-number {
    font-size: 2em;
    color: #fd5e53;
  }
  section #covid-updates .covid-data .recovered .recovered-number {
    color: limegreen;
  }
  .wrapper {
    width: 50%;
    margin: 30px auto;
  }
  #contagion {
    width: 90%;
    margin: 30px auto;
  }
  #contagion p {
    color: #243941;
    text-align: center;
    margin: 30px;
    line-height: 30px;
  }
  #contagion .image-container {
    margin: 60px auto;
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 15px 15px;
    border-radius: 30px 30px 30px 30px;
    background-color: #f2f3f7;
    -webkit-box-shadow: -3px -20px 15px 3px #f2f3f7, -3px -20px 15px 3px #f2f3f777;
            box-shadow: -3px -20px 15px 3px #f2f3f7, -3px -20px 15px 3px #f2f3f777;
  }
  .caption-style, .heading-style, .points {
    color: #fd5e53;
    text-align: center;
    font-size: 1.5em;
  }
  .heading-style {
    font-size: 3em;
  }
  .points {
    font-size: 2.5em;
  }
  .box-style {
    width: 350px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 30px;
  }
  .image-style, .image-size {
    background-position: center;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin: 10px auto;
    display: block;
  }
  .image-size {
    width: 500px;
    height: 500px;
  }
  .text-style, .text-style-form {
    color: #243941;
    line-height: 30px;
    text-align: center;
    padding: 30px;
  }
  .text-style-form {
    text-align: justify;
  }
  #symptoms {
    width: 80%;
    margin: 30px auto;
  }
  #symptoms .symptoms-wrapper {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #symptoms .symptoms-wrapper .symptoms-image {
    margin: 30px;
    width: 500px;
    height: 500px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  #symptoms .symptoms-wrapper ul {
    margin-top: 30px;
  }
  #symptoms .symptoms-wrapper ul li {
    margin-bottom: 30px;
    color: #fd5e53;
    font-weight: bold;
  }
  #prevention-desktop {
    width: 90%;
    margin: 0 auto;
  }
  #prevention-desktop .prevention-container {
    width: 80%;
    margin: 60px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #prevention-desktop .align-content {
    width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #prevention-desktop .number {
    background-color: #fcdef0;
    padding: 15px 20px;
    border-radius: 50%;
  }
  #prevention-desktop .align-text-and-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #prevention-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 70px auto;
    width: 90%;
  }
  main .content {
    width: inherit;
    margin: 0 auto;
  }
  main .content #about {
    width: inherit;
    margin: 0 auto;
  }
  main .content #about .alert {
    text-align: center;
    color: #fd5e53;
    font-size: 1.5em;
    margin-top: 30px;
    font-weight: bold;
  }
  main .content #about .alert span {
    background-color: #fcdef0;
    padding: 0 12px;
    border-radius: 50%;
  }
  main .content #about .image-phone {
    width: 300px;
    height: 300px;
    margin: 30px auto;
    display: block;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  main .content #about h1 {
    text-align: center;
    color: #243941;
  }
  main .content #about p {
    color: #243941;
    margin-top: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 60px;
  }
  main .content #about h3 {
    text-align: center;
  }
  main .content #about h3 a {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #fd5e53;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #fd5e53;
  }
  main .content .about-image {
    display: none;
  }
  .call-btn {
    position: fixed;
    bottom: 3%;
    right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fd5e53;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1200;
  }
  .call-btn a {
    text-decoration: none;
    border: 2px solid #fd5e53;
    color: #ffffff;
    font-size: 1.3em;
  }
  .spacing {
    margin-bottom: 20px;
  }
  section {
    width: 100%;
    margin: 50px auto;
    margin-top: 50px;
    background-color: #f2f3f7;
    padding: 30px;
    border-radius: 400px 0px 0px 0px;
  }
  section #covid-updates {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section #covid-updates .update {
    color: #243941;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
  }
  section #covid-updates .update span {
    color: limegreen;
  }
  section #covid-updates .search-wrapper {
    margin: 60px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 40px;
  }
  section #covid-updates .search-wrapper .search-box {
    width: 250px;
    height: 40px;
    background-color: #ffffff;
    margin: 60px auto;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section #covid-updates .search-wrapper .search-box .search {
    width: 250px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    text-align: center;
    color: #243941;
    font-size: 16px;
  }
  section #covid-updates .search-wrapper .btn {
    background-color: #fd5e53;
    padding: 10px 10px;
    border-radius: 50%;
    margin-left: 10px;
  }
  section #covid-updates .search-wrapper .btn i {
    color: #ffffff;
  }
  section #covid-updates .search-wrapper .btn i:hover {
    cursor: pointer;
    opacity: .7;
  }
  section #covid-updates .map-image {
    width: 300px;
    margin-top: 30px;
    display: block;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  section #covid-updates .covid-data {
    margin-top: 40px;
  }
  section #covid-updates .covid-data p {
    text-align: center;
    font-weight: bold;
  }
  section #covid-updates .covid-data .existing .existing-number, section #covid-updates .covid-data .confirmed .confirmed-number, section #covid-updates .covid-data .recovered .recovered-number, section #covid-updates .covid-data .deaths .death-number {
    font-size: 1.5em;
    color: #fd5e53;
  }
  section #covid-updates .covid-data .recovered .recovered-number {
    color: limegreen;
  }
  #contagion {
    width: 90%;
    margin: 30px auto;
  }
  #contagion .wrapper {
    width: 95%;
    margin: 30px auto;
  }
  #contagion .wrapper h1 {
    text-align: center;
    color: #fd5e53;
  }
  #contagion .wrapper p {
    color: #243941;
    text-align: center;
    margin: 30px;
    line-height: 30px;
  }
  #contagion .image-container {
    margin: 60px auto;
    min-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 15px;
    border-radius: 30px 30px 30px 30px;
    overflow-x: auto;
    background-color: #f2f3f7;
    -webkit-box-shadow: -3px -20px 15px 3px #f2f3f7, -3px -20px 15px 3px #f2f3f777;
            box-shadow: -3px -20px 15px 3px #f2f3f7, -3px -20px 15px 3px #f2f3f777;
  }
  #contagion .image-container::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  #contagion .image-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .caption-style, .heading-style, .points {
    color: #fd5e53;
    text-align: center;
    font-size: 1.5em;
  }
  .points {
    font-size: 2.5em;
  }
  .heading-style {
    font-size: 3em;
  }
  .box-style {
    min-width: 250px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 30px;
    margin-right: 10px;
  }
  .image-style {
    background-position: center;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    display: block;
  }
  .text-style {
    color: #243941;
    line-height: 30px;
    text-align: center;
    padding: 30px;
  }
  #symptoms {
    margin: 30px auto;
    width: 90%;
  }
  #symptoms .symptoms-image {
    margin: 30px auto;
    display: block;
    width: 300px;
    height: 300px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  #symptoms ul {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #symptoms ul li {
    margin-bottom: 20px;
    color: #fd5e53;
    font-weight: bold;
  }
  .image-size-mobile {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 30px auto;
    display: block;
  }
  .number, .number-padding {
    background-color: #fcdef0;
    padding: 15px 20px;
    border-radius: 50%;
  }
  .number-padding {
    padding: 10px 15px;
  }
  #prevention-mobile {
    width: 90%;
    margin: 30px auto;
  }
  #prevention-mobile .prevention-mobile-wrapper {
    width: 90%;
    margin: 30px auto;
  }
  #prevention-desktop {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  main .content #about .image-phone {
    width: 250px;
  }
  section {
    width: 100%;
  }
  section #covid-updates {
    width: 100%;
  }
  section #covid-updates .map-image {
    margin-top: 30px;
    width: 250px;
    height: 100px;
  }
}

@media screen and (max-width: 280px) {
  main .content #about .image-phone {
    width: 200px;
  }
  section #covid-updates {
    width: 90%;
  }
  section #covid-updates .map-image {
    width: 200px;
    height: 100px;
  }
  #symptoms .symptoms-image {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 765px) and (max-width: 768px) {
  .call-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fd5e53;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .call-btn a {
    text-decoration: none;
    border: 2px solid #fd5e53;
    color: #ffffff;
    font-size: 1.5em;
  }
  section {
    border-radius: 800px 0px 0px 0px;
  }
}

@media (min-width: 1000px) and (max-width: 1024px) {
  .call-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fd5e53;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1200;
  }
  .call-btn a {
    text-decoration: none;
    border: 2px solid #fd5e53;
    color: #ffffff;
    font-size: 1.5em;
  }
  #contagion .image-container {
    width: 95%;
  }
  .box-style {
    margin-right: 10px;
  }
}

footer {
  margin-top: 30px;
  width: 100%;
  height: 20%;
  background-color: #f2f3f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: #243941;
  font-weight: bold;
}

footer p span {
  color: #fd5e53;
}
/*# sourceMappingURL=style.css.map */